@import url(/node_modules/@fontsource/saira-stencil-one/index.css);

:root {
  --main-color: #cccf18;
  --background-color: #1e1e1e;
  --white: #ffffff;
  --warning-color: #f3949a;
}

html,
body {
  width: 100vw;
}

body {
  background-color: var(--background-color);
  margin: 0;
  color: var(--white);
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  border: none;
}
