@import url(/node_modules/@fontsource/saira-stencil-one/index.css);

html,
body {
  width: 100vw;
}

body {
  background-color: #1e1e1e;
  margin: 0;
  color: #fff;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

a,
button {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  border: none;
}
